

<div class="container">
	<h1>Contact</h1>
	<br>
	Contact me at <span class="email"><u>oparrilla@gmail.com</u></span>.
	<br>
	<p><a class="link" href="https://www.linkedin.com/in/oscar-parrilla-mart%C3%ADnez-a0423729/" target="_blank"><img class="alignimage" src="assets/img/linkedin-box.png"></a>&nbsp;<a class="link" href="https://www.linkedin.com/in/oscar-parrilla-mart%C3%ADnez-a0423729/" target="_blank">LinkedIn</a></p>


<br>
<br>
<br>
	 <img class="myphoto" src="../../../assets/img/im2.jpg" style="border-style:dotted;border-width:1px;" class="img-responsive center-block">
<!--
	<div id="text" #texts>
		<p appHighlighted >
			This is the contact page, you can send us any question.
		</p>
	</div>
-->

<!-- form goes here -->
<!--
<form>

  <!-- name -->
  <!--
  <div class="field">
    <input type="text" name="name" class="input" placeholder="Your Name" [(ngModel)]="name">
  </div>
  <br>
  <!-- email -->
  <!--
  <div class="field">
    <input type="email" name="email" class="input" placeholder="Your Email" [(ngModel)]="email">
  </div>
  <br>
  <!-- message -->
  <!--
  <div class="field">
    <textarea class="textarea" name="message" placeholder="What's on your mind?" [(ngModel)]="message"></textarea>
  </div>
  <br>
  <button type="submit" disabled="false" >Submit</button>

</form>
-->
	
	<!--
	Slider size:
	<input type="number" [(ngModel)]="nWidthSlider" (keyup.enter)="loadSlider()"/>
	<button (click)="loadSlider()">Load slider</button>
	<button (click)="resetSlider()">Reset slider</button>

	<div *ngIf="nWidthToSlider">		
		<slider [nWidth]="nWidthToSlider"
				[bTags] ="bCaptions"
				(oGetAuthor) ="getAuthor($event)"
		></slider>
	</div>

	
	<span *ngIf="oAuthor">{{oAuthor.name + oAuthor.website}}</span>	

	-->

	<!--
	{{oAuthor.name + oAuthor.website}}
	-->

</div>