

<div class="container">

	<h2>Projects</h2>

	<ul>
		<li class="project">			
				<div class="image">
						<img src="../../assets/img/project2.jpg"/>
				</div>
				<h5>Hello world</h5>
				<p><a class="link" href="https://github.com/Greenin/Javascript-code/tree/master/hello-world" target="_blank">GitHub code</a></p>			
		</li>	


		<li class="project">			
				<a class="link" href="https://learning-angular.oparrilla.now.sh" target="_blank"><div class="image">
						<img src="../../assets/img/project3.jpg"/>
				</div>
				<h5>Learning Angular (accesible)</h5></a>
				<p><a class="link" href="https://github.com/Greenin/Javascript-code/tree/master/learning-angular2" target="_blank">GitHub code</a></p>			
		</li>

		<li class="project">			
				<div class="image">
						<img src="../../assets/img/project1.jpg"/>
				</div>
				<h5>JS Project</h5>
				<p><a class="link" href="https://github.com/Greenin/Javascript-code/tree/master/js-project"target="_blank">GitHub code</a></p>			
		</li>

		<li class="project">			
				<div class="image">
						<img src="../../assets/img/project2.jpg"/>
				</div>
				<h5>Poo and typescript</h5>
				<p><a class="link" href="https://github.com/Greenin/Javascript-code/tree/master/poo-and-typescript" target="_blank">GitHub code</a></p>			
		</li>


		<li class="project">			
				<div class="image">
						<img src="../../assets/img/project5.jpg"/>
				</div>
				<h5>Angular project (with backend)</h5>
				<p><a class="link" href="https://github.com/Greenin/Javascript-code/tree/master/angular-project" target="_blank">GitHub code</a></p>			
		</li>


		<li class="project">			
				<div class="image">
						<img src="../../assets/img/project2.jpg"/>
				</div>
				<h5>Backend for previous Angular project</h5>
				<p><a class="link" href="https://github.com/Greenin/Javascript-code/tree/master/backend" target="_blank">GitHub code</a></p>			
		</li>


		<li class="project">			
				<div class="image">
						<img src="../../assets/img/project6.jpg"/>
				</div>
				<h5>Code of this website</h5>
				<p><a class="link" href="https://github.com/Greenin/My-professional-website" target="_blank">GitHub code</a></p>			
		</li>


		<li class="project">			
				<div class="image">
						<img src="../../assets/img/project2.jpg"/>
				</div>
				<h5>Ionic project</h5>
				<p><a class="link" href="https://github.com/Greenin/Javascript-code/tree/master/app" target="_blank">GitHub code</a></p>			
		</li>

		<li class="project">			
				<div class="image">
						<img src="../../assets/img/project8.jpg"/>
				</div>
				<h5>Perl and PHP project</h5>
				<p><a class="link" href="https://github.com/Greenin/Javascript-code/tree/master/Perl%20and%20PHP%20project" target="_blank">GitHub code</a></p>			
		</li>

		<li class="project">			
				<div class="image">
						<img src="../../assets/img/project9.jpg"/>
				</div>
				<h5>Pattern search in Perl</h5>
				<p><a class="link" href="https://github.com/Greenin/Javascript-code/tree/master/Pattern%20search%20in%20Perl" target="_blank">GitHub code</a></p>			
		</li>

		<li class="project">			
				<a class="link" href="https://angular-links-vote-app.oparrilla.now.sh" target="_blank"><div class="image">
						<img src="../../assets/img/project7.jpg"/>
				</div>
				<h5>Angular links vote app (accesible)</h5></a>
				<p><a class="link" href="https://github.com/Greenin/Javascript-code/tree/master/angular-votes-app-master" target="_blank">GitHub code</a></p>			
		</li>



 
	</ul>

</div>
